@mixin hover() {
  &:hover {
    @media (hover: hover) and (pointer: fine) {
      @content;
    }
  }

  &:active {
    @media (hover: none) {
      @content;
    }
  }
}

.hmn-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  min-width: 42px;
  height: 42px;
  padding: 0 11px;
  border: 1px solid transparent;
  border-radius: var(--items-border-r);
  cursor: pointer;
  overflow: hidden;

  &,
  & .hmn-button__label,
  & .hmn-button__icon path {
    transition: var(--transtition);
  }
  .hmn-button__icon,
  .hmn-button__label {
    z-index: 2;
  }
  .hmn-button__label {
    padding: 0 9px;
    font-size: 13px;
  }

  &.primary,
  &.alert,
  &.warning {
    border-color: var(--brdr-color);
    @include hover() {
      background-color: var(--bg-item-main);
    }
  }

  &.primary {
    .hmn-button__icon svg path {
      stroke: var(--accent);
    }

    .hmn-button__label {
      color: var(--ft-main);
    }
  }

  &.alert {
    .hmn-button__icon svg path {
      stroke: var(--alert);
    }

    .hmn-button__label {
      color: var(--alert);
    }
  }

  &.warning {
    .hmn-button__icon svg path {
      stroke: var(--warning);
    }

    .hmn-button__label {
      color: var(--warning);
    }
  }

  &.accent {
    background-color: var(--accent);

    .hmn-button__icon svg path {
      stroke: var(--white);
    }

    .hmn-button__label {
      color: var(--white);
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
}

@media (max-width: 840px) {
  .hmn-button.mbl-hide {
    .hmn-button__label {
      display: none;
    }
  }
}
