:root {
    --white: #ffffff;
    --accent: #2da87f;
    --accent2-w-opacity: #2d847034;

    --alert: #ff3b3b;
    --warning: #ffa03b;
}

[data-theme="light"] {
    --bg-main: #ffffff;
    --bg-secondary: #f6f8fa;

    --bg-item-main: #f6f8fa;

    --ft-main: #171717;
    --ft-secondary: #818181;

    --brdr-color: #d3d3d3;
}

[data-theme="dark"] {
    --bg-main: #010409;
    --bg-secondary: #0d1117;

    --bg-item-main: #212830;

    --ft-main: #EDEDED;
    --ft-secondary: #787878;

    --brdr-color: #3d444d;
}

