#ims-content-body {
    display: flex;
    #ims-content-body__left-panel {
        display: grid;
        gap: 9px;
        align-content: start;
        align-items: start;
        background-color: var(--bg-main);
        .hmn-column {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 6px;
            border-radius: var(--items-border-r);
            cursor: pointer;
            background-color: var(--bg-item-main);
            .hmn-button {
                cursor: move;
            }

            .hmn-column__label {
                font-size: 14px;
                color: var(--ft-main);
            }
        }
    }
    #ims-content-body__column-content {
        flex: 1;
        padding: 12px;
        #column-body {
            padding: 12px;
            background-color: var(--bg-main);
            border-radius: 9px;
            #column-body__header {

            }
        }
    }
}

@media (max-width: 720px) {
    #ims-content-body {
        position: relative;
        #ims-content-body__left-panel {
            padding: 24px;
            z-index: 99998;
            position: absolute;
            left: -100vw;
            width: 100vw;
            height: inherit;
            transition: var(--transtition);
            &.active {
                left: 0;
            }
            #left-panel_header {
                display: flex; 
                gap: 9px;
            }
        }
    }
}

@media (min-width: 721px) {
    #ims-content-body {
        display: flex;
        #ims-content-body__left-panel {
            padding: 12px;
            width: 300px;
            border-right: 1px solid var(--brdr-color);

            #left-panel_header {
                display: flex;
            }
        }
    }
}