:root {
    --white: #ffffff;
}

[data-theme="light"] {
    --accent: #237260;
    --accent2: #33a48a;

    --bg-main: #ffffff;
    --bg-secondary: #f0f0f0;

    --bg-item-main: #f1efef;
    
    --ft-main: #171717;
    --ft-secondary: #818181;

    --brbr-color: #dfdfdf;
}

[data-theme="dark"] {
    --accent: #2e8571;
    --accent2: #42aa92;
    
    --bg-main: #191919;
    --bg-secondary: #131313;

    --bg-item-main: #1f1f1f;

    --ft-main: #EDEDED;
    --ft-secondary: #8A8A8A;

    --brbr-color: #282828;
}