:root {
    --primary-bg-color: #171717;
    --secondary-bg-color: #292929;
    --accent-bg-color: #0c0c0c;

    --primary-item-color: #242424;

    --primary-brdr-color: #2e2e2e;
    --secondary-brdr-color: #434343;
    --accent-brdr-color: #25df92;
    --alert-brdr-color: #7f2315;

    --primary-ft-color: #fafafa;
    --secondary-ft-color: #b4b4b4;

    --accent-color: #006239;
    --accent-color__hover: #005934;

    --alert-color: #541c15;
    --alert-color__hover: #621d17;
}