body {
  font-family: "Google Sans", sans-serif;

  &,
  .page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--primary-bg-color);
  }
}

.container-flex {
  justify-content: space-between;

  &,
  section {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
  }
}

hr {
  width: 100%;
  margin: 0;
  border: none;
  border-top: 1px solid var(--secondary-brdr-color);
}

.icon {
  &,
  svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-xs);
    height: var(--size-xs);
  }

  svg path {
    transition: var(--transition);
  }
}

.logo {
  display: flex;
  align-items: center;
  height: var(--size-md);
  color: var(--primary-ft-color);

  span {
    color: var(--accent-brdr-color);
  }
}
