@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  section {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
