:root {
    --spacing-xs: 6px;
    --spacing-sm: 9px;
    --spacing-md: 12px;
    --spacing-lg: 18px;
    --spacing-xl: 24px;

    --radius-xs: 3px;
    --radius-sm: 6px;
    --radius-md: 9px;
    --radius-xl: 36px;

    --size-xs: 18px;
    --size-sm: 30px;
    --size-md: 36px;

    --transition: .3s all;
}