#app{
    #navMenu{
        z-index: 2;
        display: grid;align-content: space-between;justify-items: center; 
        width: auto; height: 100vh;
        position: fixed;
        padding: 12px;
        background-color: var(--main-dark-color);

        div {
            display: grid;align-content: space-between;justify-items: center; gap: 24px;

            .navMenuBtns_btn{
                padding: 6px;
                border-radius: 6px;
                svg{
                    opacity: 0.5;
                    path{
                        fill: white;
                    }
                }
            }

            .navMenuBtns_btn:hover{
                svg{
                    opacity: 1;
                }
            }

            .navMenuBtns_btn.active{
                padding: 9px;
                background-color: var(--accent-color);
                svg{
                    width: 18px; height: 18px;
                    opacity: 1;
                    path{
                        fill: var(--main-dark-color)
                    }
                }
            }
        }
    }

    #sidebar{
        z-index: 1;
        position: fixed;top: 0; left: -600px;
        display: grid;align-content: space-between; grid-template-rows: auto auto 1fr; gap: 24px;
        height: 100vh; overflow: hidden;
        padding: 12px;
        background-color: var(--accent-color);
        transition: 0.3s;

        #sidebarPageName{
            display: flex; justify-content: space-between; align-items: center; gap: 12px;
            p{
                
                font-weight: 500; font-size: 18px;
            }
        }

        #sidebarContentBlock{
            max-height: 100%; overflow: hidden;
            #addColumnButton{
                width: 100%; display: flex; justify-content: center !important;
            }
            #sidebarContentBlockScrolledBlock{
                display: grid; gap: 12px;
                margin-top: 12px;
                flex-grow: 1;
                padding-bottom: 12px;
                max-height: 93%; overflow-y: auto;
            }
        }
    }
    #sidebar.visible{
        top: 0; left: 60px;
        transition: 0.3s;
    }
}

@media (max-width: 720px) {
    #sidebar{
        width: calc(100vw - 60px);
    }
}

@media (min-width: 721px) {
    #sidebar{
        width: 320px;
    }
}


  
