:root {
    --main-dark-color: #20262B;
    --accent-color: #ACC3C2;
    --main-font-color: #000000;
    --alert-color: #FF5947;
}

.hmnColumn{
    display: flex; align-items: center; justify-content: space-between;
    padding: 9px; margin-right: 5px;
    border: 1px dashed var(--main-dark-color); border-radius: 6px;
    p span{display: block;}
    .hmnColumnType{
        text-align: center;
        width: 96px; padding: 2px 0;
        font-size: 12px;font-weight: 500;
        color: white; 
        background-color: var(--main-dark-color);
        border-radius: 3px;
    }
    .hmnColumnLabel{
        margin-top: 9px; margin-left: 3px;
        color: var(--main-dark-color);
        font-size: 14px;
    }
    .hmnColumnBtns{
        display: flex; gap: 9px;
        .hmnButton{
            width: 36px !important;
        }
    }
}