.no-results{
    display: flex; align-items: center; gap: 12px; justify-content: center;
    padding: 36px 0;
    svg{
        width: 36px; height: 36px;
        path{
            fill: var(--main-dark-color)
        }
    }
    span{
        font-size: 18px; font-weight: 300; color: var(--main-font-color); opacity: 0.5;
    }
}