[data-theme="light"] {
    --background-color__main: #eef7f6;
    --background-color__block: #ffffff;

    --font-main: #36393e;
    --font-secondary: #616161;
    --font-additional: #ffffff;

    --accent: #079492;
    --primary: #fdd86e;
}